html {
  scroll-behavior: smooth;
}

body {
  background-color: #1f354a;
}

.card {
  margin: 0.25em;
  width: 16.5rem;
  text-align: left;
}

.container {
  border-radius: 10px;
  background-color: white;
  margin: 1em auto;
  padding: 2em;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .container {
    border-radius: 0;
    margin: 0;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 95%;
  }
}
